html,
body {


    font-family: 'Cairo', sans-serif;
    font-size: .88rem;
    color: #bdbdd5;
    
}

main{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
    transition: all 200ms linear;
    padding-top: 20vh;

}

nav {
    background-color: white;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.navbar-dark {
    color: none;

}





ul li a {
    color: #272727;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    transition: background-color 500ms, color 150ms;
    color: black;
}

ul li a:hover {
    background-color: red;
    color: white;
}

ul li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border: 3px solid red;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
    transform-origin: bottom left;
}

ul li a:hover:before {
    opacity: 1;
    transform: translate(-8px, 8px);
}

ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border: 3px solid red;
    border-width: 3px 3px 0px 0px;
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
    transform-origin: top right;
}

ul li a:hover:after {
    opacity: 1;
    transform: translate(8px, -8px);
}

.active {
    color: white;
    background-color: yellowgreen;
}



* {
    margin: 0;
    padding: 0;
}

.flash-news-banner {
    background: #ffffff;
    padding: 20px 0px;
}

.flash-news-banner span {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
}

.content-wrapper {
    background: whitesmoke;
    padding: 60px 0;
}

.content-wrapper .banner-content {
    position: absolute;
    padding: 40px 60px;
    right: 0px;
    bottom: 0px;
    color: #ffffff;
}

@media (max-width: 999px) {
    .content-wrapper .banner-content {
        padding: 12px 12px;
    }

    .content-wrapper .banner-content h1 {
        font-size: 18px;
    }
}

.content-wrapper .border-bottom-blue {
    border-bottom: solid 1px #032a63;
}

.content-wrapper .vertical-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content-wrapper .vertical-menu li a {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #ababac;
    padding: 10.5px 0;
    display: block;
}

.content-wrapper .vertical-menu li a:hover,
.content-wrapper .vertical-menu li a:focus,
.content-wrapper .vertical-menu li a.active {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.content-wrapper .vertical-menu li:last-child a {
    padding-bottom: 0;
}

.content-wrapper .badge-positioned {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.content-wrapper .video-icon {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    color: #343a40;
    font-size: 1rem;
    background: whitesmoke;
    text-align: center;
    padding-top: 10px;
}

.grid-margin {
    margin-bottom: 2rem;
}

.stretch-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}

.stretch-card .card {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.div-w-80 {
    width: 80px;
}

.post-comment-section {
    margin-top: 54px;
    padding-top: 28px;
    border-top: 1px solid #e6e7e8;
}

.post-comment-section .post-author {
    border: 1px solid #e6e7e8;
    margin-bottom: 50px;
}

.post-comment-section .post-author .post-author-content {
    padding: 25px 35px;
}

.post-comment-section .testimonial {
    border: 1px solid #e6e7e8;
    padding: 25px 35px;
    margin-bottom: 30px;
}

.post-comment-section .testimonial img {
    width: 46px;
    height: 46px;
}

.post-comment-section .comment-section .comment-box {
    background: #f8f8f8;
    padding: 25px 35px;
    margin-bottom: 24px;
}

.post-comment-section .comment-section .comment-box img {
    width: 46px;
    height: 46px;
}

.post-comment-section .comment-section .comment-box.from {
    margin-left: 60px;
}

.trending {
    margin-top: 80px;
}

.aboutus-wrapper {
    padding: 0 160px;
}

@media (max-width: 999px) {
    .aboutus-wrapper {
        padding: 0;
    }
}

.rotate-img {
    overflow: hidden;
}

.rotate-img img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

.rotate-img:hover img {
    -webkit-transform: rotate(15deg) scale(1.4);
    transform: rotate(15deg) scale(1.4);
}

footer {
    color: #ffffff;
}

footer .footer-top {
    background: #032a63;
    padding: 74px 0 48px 0;
}

footer .footer-top .social-media {
    padding-left: 0;
}

footer .footer-top .social-media li a {
    background: #ffffff;
    padding: 10px 6px 2px 6px;
    line-height: 1;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

@media (max-width: 767px) {
    footer .footer-top .social-media li a {
        padding: 4px 4px 2px 4px;
    }
}

footer .footer-top .social-media li a i {
    color: #032a63;
    font-size: 20px;
}

@media (max-width: 767px) {
    footer .footer-top .social-media li a i {
        font-size: 14px;
    }
}

footer .footer-top .social-media li a:hover {
    background: #000000;
}

footer .footer-top .social-media li a:hover i {
    color: #ffffff;
}

footer .footer-top .footer-border-bottom {
    border-bottom: 1px solid rgba(99, 99, 99, 0.2);
}

footer .footer-top .count {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #d1011c;
    font-size: 10px;
    text-align: center;
    padding-top: 1px;
}

footer .footer-bottom {
    padding: 24px 0 48px 0;
    background: #032a63;
}

.error-wrap {
    width: 394px;
    margin: 240px auto;
    text-align: center;
}

@media (max-width: 999px) {
    .error-wrap {
        margin: 80px 0;
    }
}

.error-title {
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    margin-bottom: 75px;
}

@media (max-width: 999px) {
    .error-title {
        font-size: 40px;
    }
}

.search-container {
    border: 1px solid whitesmoke;
    height: 45px;
    width: 410px;
    margin: auto;
    margin-top: 40px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 999px) {
    .search-container {
        width: 100%;
    }
}

.search-container input[type="text"] {
    padding: 0;
    margin-top: 0;
    font-size: 17px;
    border: none;
    width: 380px;
    height: 40px;
}

.search-container input[type="text"]:focus {
    outline: 0;
}

.search-container button {
    font-size: 17px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.search-container button:hover {
    background: transparent;
}

.search-container button:focus {
    outline: 0;
}





.sidebar-page-container .sidebar .sidebar-post .post-inner .post {
    position: relative;
    padding: 0px 0px 0px 75px;
    padding-bottom: 10px;
    margin-bottom: 6px;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post:last-child {
    border-bottom: none;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date {
    position: absolute;
    left: 0px;
    top: 4px;
    width: 54px;
    height: 54px;
    text-align: center;
    border-radius: 5px;

}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(rgba(0, 123, 255, 1) 100%);
    background: -webkit-linear-gradient(rgba(0, 123, 255, 1) 100%);
    background: linear-gradient(rgba(0, 123, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#007bff", GradientType=1);
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date p {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: 0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date span {
    position: relative;
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .file-box {
    position: relative;
    margin-bottom: 9px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .file-box i {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #666666 !important;
    margin-right: 10px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .file-box p {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post h5 {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #1d165c;
    margin: 0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post h5 a {
    display: inline-block;
    color: #1d165c;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post h5 a:hover {
    color: #e61819;
}

.carousel-inner-data {
    margin: 0px auto;
    height: 350px;
    overflow: hidden;
}

.carousel-inner-data ul {
    list-style: none;
    position: relative;
}

.carousel-inner-data li {
    height: auto;
}

.angled-img .img {
    position: relative;
    overflow: hidden;
    background: rgb(2, 0, 36);
    -webkit-backface-visibility: hidden
}

.angled-img,
.angled-img:focus,
.angled-img:hover {
    color: black;
    text-decoration: none;
    outline: 0
}


.angled-bg.item {
    display: block;
    width: 100%;
    margin-bottom: 2rem
}

.angled-bg.item:focus,
.angled-bg.item:hover {
    color: inherit
}

.angled-bg.item .price {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 1.6rem
}

.angled-bg.item .remove,
.angled-bg.item .remove:focus,
.angled-bg.item .remove:hover {
    font-size: 1.7rem;
    margin-top: 5px;
    margin-right: 20px;
    text-decoration: none
}

.angled-img:hover .icon {
    opacity: .8
}

.angled-img .price del {
    color: rgba(255, 255, 255, .5)
}

.angled-img .badge {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0;
    font-size: 1.5rem;
    padding: 10px 15px;


}

.badgeright {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0;
    font-size: 1.5rem;
    padding: 10px 15px;
    color: white;



}

.angled-img .badge.show-half {
    opacity: .5
}


.angled-img .badge.show,
.angled-img:hover .badge {
    opacity: 1
}

.angled-img .over-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    text-align: center
}

.angled-img .over-info.bottom {
    top: auto;
    bottom: 0;
    height: auto;
    text-align: right
}

.angled-img .over-info .rating,
.angled-img .over-info h4 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem
}

.angled-img .over-info>div {
    display: table;
    height: 100%;
    width: 100%
}

.angled-img .over-info>div>div {
    display: table-cell;
    vertical-align: middle
}

.angled-img .bottom-info {
    width: 100%;
    text-align: right;
    margin: auto;
}

.angled-img .bottom-info h4 {
    position: relative;
    text-align: center;
    margin-top: 1.2rem;
}



.angled-bg {
    position: relative;
    display: block
}

.angled-bg>* {
    position: relative;
    z-index: 2
}

.angled-bg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .1);
    -webkit-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    -o-transform: skew(-7deg);
    transform: skew(-7deg);
    z-index: 0;
    -o-transition: .3s background ease;
    transition: .3s background ease
}

.angled-bg:hover:after {
    background: rgba(255, 255, 255, .13)
}

.angled-bg.item {
    display: block;
    width: 100%;
    margin-bottom: 2rem
}

.angled-img .img>img {
    width: 100%;
    -webkit-transform: skew(7deg) scale(1.098);
    -ms-transform: skew(7deg) scale(1.098);
    -o-transform: skew(7deg) scale(1.098);
    transform: skew(7deg) scale(1.098);
    -o-transition: .3s opacity ease;
    transition: .3s opacity ease;
    -webkit-backface-visibility: hidden;
    opacity: .5
}



.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


.img-lg {
    width: 138px;
}

.navbar-brand img {
    height: auto;
    width: 200px;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
